@use "styles/helpers";

.ErrorBoundary {
  width: 100% !important;
  padding: var(--gap-sm);

  @include helpers.media-query-min(sm) {
    & {
      padding: var(--gap) !important;
    }
  }
}

.Button {
  @include helpers.media-query-min(md) {
    & {
      margin-left: auto;
    }
  }
}
