@use "styles/helpers";

.Wrapper {
    @include helpers.grid(row, center, center, var(--gap-lg));
    @include helpers.glass-effect();

    & {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        width: min(95%, 80rem);
        padding-bottom: var(--gap-lg) !important;
    }
}