@use 'styles/helpers';

.Header {
  @include helpers.glass-effect;
  @include helpers.flex;

  gap: var(--gap);
}

.Logo {
  width: auto;
  height: calc(var(--font-size-xxl) + 5rem);
}

.Name {
  font-size: var(--font-size-xxl);
}