@use 'styles/helpers';

.TopBar {
  @include helpers.glass-effect;
  @include helpers.grid(row, center, null, var(--gap-sm));

  position: sticky;
  top: 0;
  z-index: 1;

  @include helpers.media-query-min(md) {
    @include helpers.grid(column, start, center, var(--gap-lg));
    grid-template-columns: max-content 1fr;
  }
}

.Form {
  justify-content: end !important;
}