@use 'styles/helpers';

.Link {
  @include helpers.flex(row, start, center);

  width: max-content;
  color: inherit;

  &, &:hover {
    text-decoration: none;
  }
}

.Logo {
  @include helpers.flex(row, center, center, var(--gap-sm));

  @include helpers.media-query-min(md) {
    width: max-content;
  }
}

.Image {
  width: auto;
  height: var(--font-size-xxl);

  @include helpers.media-query-min(lg) {
    height: calc(var(--font-size-xxl) + 1rem);
  }
}

.Name {
  font-size: var(--font-size-xl);
  line-height: 1;
  text-align: center;

  @include helpers.media-query-min(lg) {
    font-size: var(--font-size-xxl);
  }
}

.Logo.Alternative {
  @include helpers.flex(column, center, center, var(--gap-xs));

  .Image {
    height: 5rem;
  }

  .Name {
    font-size: var(--font-size-xxl);
  }

  @include helpers.media-query-min(md) {
    .Name {
      font-size: var(--font-size-xxxl);
    }

    .Image {
      height: 8rem;
    }
  }
}