@use "styles/helpers";

.ItemsCount {
  @include helpers.flex(column, start, center, var(--gap));

  & {
    justify-content: start !important;
    margin-bottom: var(--gap-xxs);
  }

  @include helpers.media-query-min(md) {
    & {
      flex-direction: row !important;
      margin-bottom: var(--gap-xs);
    }
  }
}

.Value {
  @include helpers.flex(row, start, center, var(--gap-xxs));
}

.Alert {
  font-size: var(--font-size-md);
}