@use 'styles/helpers';

.SearchList {
  @include helpers.glass-effect();

  & {
    display: inline-grid;
    justify-items: stretch;
    align-items: center;
    gap: var(--gap-sm);

    & > div:first-child {
      @include helpers.flex(column, center, center);
    }
  }
}