@use 'styles/helpers';

.SearchForm {
  @include helpers.flex(row, null, start);

  & {
    width: 100%;
  }

  &.invalid {
    display: none !important;
  }

  input {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
  }

  button {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
  }
}