/* TODO: check why '<length-percentage>' does not work as expected */

@property --color-background {
  syntax: '<color>';
  inherits: false;
  initial-value: #0d1117;
}

@property --color-background-light {
  syntax: '<color>';
  inherits: false;
  initial-value: #2b3137;
}

@property --color-text {
  syntax: '<color>';
  inherits: false;
  initial-value: #fafbfc;
}

@property --color-text-light {
  syntax: '<color>';
  inherits: false;
  initial-value: #acacac;
}

@property --color-accent {
  syntax: '<color>';
  inherits: false;
  initial-value: #2dba4e;
}

@property --color-emphasis {
  syntax: '<color>';
  inherits: false;
  initial-value: #4493F8;
}

@property --color-destructive {
  syntax: '<color>';
  inherits: false;
  initial-value: #ff2c1f;
}

@property --color-destructive-light {
  syntax: '<color>';
  inherits: false;
  initial-value: #ff4d41;
}

@property --color-warning {
  syntax: '<color>';
  inherits: false;
  initial-value: #ff9e1f;
}

@property --color-warning-light {
  syntax: '<color>';
  inherits: false;
  initial-value: #ffa642;
}

@property --color-glass {
  syntax: '<color>';
  inherits: false;
  initial-value: rgba(255, 255, 255, 0.05);
}

@property --color-glass-border {
  syntax: '<color>';
  inherits: false;
  initial-value: rgba(255, 255, 255, 0.1);
}

@property --gap-xxs {
  syntax: '*';
  inherits: false;
  initial-value: .25rem;
}
@property --gap-xs {
  syntax: '*';
  inherits: false;
  initial-value: .5rem;
}

@property --gap-sm {
  syntax: '*';
  inherits: false;
  initial-value: .75rem;
}

@property --gap {
  syntax: '*';
  inherits: false;
  initial-value: 1.5rem;
}

@property --gap-lg {
  syntax: '*';
  inherits: false;
  initial-value: 3rem;
}

@property --input-height {
  syntax: '*';
  inherits: false;
  initial-value: 2.25rem;
}

@property --input-height-md {
  syntax: '*';
  inherits: false;
  initial-value: 2.25rem;
}

@property --border-radius {
  syntax: '*';
  inherits: false;
  initial-value: .5rem;
}

@property --font-size-sm {
  syntax: '*';
  inherits: false;
  initial-value: .8rem;
}

@property --font-size-md {
  syntax: '*';
  inherits: false;
  initial-value: .9rem;
}

@property --font-size-lg {
  syntax: '*';
  inherits: false;
  initial-value: 1.1rem;
}

@property --font-size-xl {
  syntax: '*';
  inherits: false;
  initial-value: 1.25rem;
}

@property --font-size-xxl {
  syntax: '*';
  inherits: false;
  initial-value: 2rem;
}

@property --font-size-xxxl {
  syntax: '*';
  inherits: false;
  initial-value: 3rem;
}

@property --spinner-size {
  syntax: '*';
  inherits: false;
  initial-value: 5rem;
}
